@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
  font-family: "Outfit";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #BCAC9B;
}


.bg {
  background: url('./assets/Banner.png');
  height: 70vh;
  background-size: cover; 
  background-position: center; 
  margin: 40px;
  border-radius: 45px;
}
